.course {
  width: 845px;
  height: 820px;
  border-bottom: 1px solid gray;
  position: relative;
}

.banner-img {
  width: 845px;
  height: 450px;
  border-radius: 8px;
  margin-bottom: 35px;
}

.course-name {
  font-family: Exo 2;
  font-size: 40px;
  font-weight: 700;
  line-height: 64px;
  letter-spacing: 0em;
  text-align: left;
}
.course-info {
  margin-left: 14px;
}
.auth-sec{
    display: grid;
    grid-template-columns: 6fr 1fr;
    
}
.author-info{
    display: flex;
    align-items: center;
}
.auth-img{
    border-radius: 50%;
    margin-right:25px ;
    width: 50px;
    height: 50px;
}

.btn-read :hover{
    background-color: orange;
} 
